In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Fruta': pd.Series(['Fresa', 'Pera', 'Uva']),
    'Baya': pd.Series([True,False,True]),
    'Calorías medias': pd.Series([6, 101, 3]),    
    'Cantidad': pd.Series([100,23,400])
})

In [3]:
df["Total calorías"] = pd.Series([0 for i in range(len(df))])

In [5]:
df.iloc[:,-2] //= 3.5

In [7]:
lista = []
for i in range(len(df)):
    lista.append(df.iloc[i, 2] * df.iloc[i,3])
df["Total calorías"] = pd.Series(lista)

In [8]:
df

   Fruta   Baya  Calorías medias  Cantidad  Total calorías
0  Fresa   True                6      28.0           168.0
1   Pera  False              101       6.0           606.0
2    Uva   True                3     114.0           342.0

In [9]:
datos = pd.read_csv("./datos/winequality-red.csv", sep = ";")

# EJ 2

In [10]:
datos[['citric acid']][:500]

     citric acid
0           0.00
1           0.00
2           0.04
3           0.56
4           0.00
..           ...
495         0.53
496         0.25
497         0.32
498         0.53
499         0.31

[500 rows x 1 columns]

In [12]:
#datos[['chlorides', 'free sulfur dioxide', 'total sulfur dioxide']][-1:-501:-1]
datos[['chlorides', 'free sulfur dioxide', 'total sulfur dioxide']][len(datos)-500:]

      chlorides  free sulfur dioxide  total sulfur dioxide
1099      0.096                  5.0                  18.0
1100      0.072                 23.0                  36.0
1101      0.071                 14.0                  25.0
1102      0.078                 18.0                  30.0
1103      0.071                 14.0                  25.0
...         ...                  ...                   ...
1594      0.090                 32.0                  44.0
1595      0.062                 39.0                  51.0
1596      0.076                 29.0                  40.0
1597      0.075                 32.0                  44.0
1598      0.067                 18.0                  42.0

[500 rows x 3 columns]

In [13]:
datos[['quality', 'density']][:100]

    quality  density
0         5   0.9978
1         5   0.9968
2         5   0.9970
3         6   0.9980
4         5   0.9978
..      ...      ...
95        6   0.9932
96        5   0.9965
97        5   0.9963
98        5   0.9967
99        6   0.9972

[100 rows x 2 columns]

In [15]:
#datos[['quality', 'citric acid']][-1:-201:-1]
datos[['quality', 'citric acid']][len(datos)-200:]

      quality  citric acid
1399        6         0.00
1400        5         0.21
1401        5         0.21
1402        6         0.42
1403        8         0.33
...       ...          ...
1594        5         0.08
1595        6         0.10
1596        6         0.13
1597        5         0.12
1598        6         0.47

[200 rows x 2 columns]

In [18]:
datos.pH[500:511]

500    3.43
501    3.17
502    3.17
503    3.18
504    3.21
505    3.16
506    3.25
507    3.17
508    3.18
509    3.04
510    3.02
Name: pH, dtype: float64

# EJ 3

In [26]:
datos[(datos["quality"] >= 7) & ((datos["residual sugar"] < 3) | (datos.pH >3))].shape

(216, 12)

In [31]:
datos[(datos["volatile acidity"] == 0.880) & (datos["total sulfur dioxide"] == 67.0)].shape

(1, 12)

# EJ 4