In [1]:
import pandas as pd

In [47]:
df = pd.DataFrame({
    'Fruta': pd.Series(['Fresa', 'Pera', 'Uva']),
    'Baya': pd.Series([True,False,True]),
    'Calorías medias': pd.Series([6, 101, 3]),    
    'Cantidad': pd.Series([100,23,400])
})

In [55]:
df["Total calorías"] = pd.Series([0 for i in range(len(df))])

In [57]:
df.iloc[:,-2] //= 3.5

In [60]:
lista = []
for i in range(len(df)):
    lista.append(df.iloc[i, 2] * df.iloc[i,3])
df["Total calorías"] = pd.Series(lista)

In [61]:
df

   Fruta   Baya  Calorías medias  Cantidad  Total calorías
0  Fresa   True                6      28.0           168.0
1   Pera  False              101       6.0           606.0
2    Uva   True                3     114.0           342.0

In [19]:
datos = pd.read_csv("./datos/winequality-red.csv", sep = ";")

# EJ 2

In [46]:
datos[['citric acid']][:500]

     citric acid
0           0.00
1           0.00
2           0.04
3           0.56
4           0.00
..           ...
495         0.53
496         0.25
497         0.32
498         0.53
499         0.31

[500 rows x 1 columns]

In [44]:
datos[['quality', 'pH']][-1:-501:-1]

      quality    pH
1598        6  3.39
1597        5  3.57
1596        6  3.42
1595        6  3.52
1594        5  3.45
...       ...   ...
1103        6  3.35
1102        6  3.45
1101        6  3.35
1100        6  3.11
1099        5  3.20

[500 rows x 2 columns]

# EJ 3

In [26]:
datos[(datos["quality"] >= 7) & ((datos["residual sugar"] < 3) | (datos.pH >3))].shape

(216, 12)

In [31]:
datos[(datos["volatile acidity"] == 0.880) & (datos["total sulfur dioxide"] == 67.0)].shape

(1, 12)

# EJ 4